{% load static %}

<section class="pt-4 pb-0">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a
              class="nav-link fs-5 active"
              data-bs-toggle="tab"
              href="#tab-1-1"
            >
              <i class="fab fa-readme me-2"></i> Most read
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link fs-5" data-bs-toggle="tab" href="#tab-1-2">
              <i class="fas fa-fire me-2"></i> Trending
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link fs-5" data-bs-toggle="tab" href="#tab-1-2">
              <i class="fas fa-trash me-2"></i> Archived
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link fs-5" data-bs-toggle="tab" href="#tab-1-2">
              <i class="fas fa-eye me-2"></i> Popular
            </a>
          </li>
        </ul>
        <div class="tab-content">
          <!-- Most read tab START -->
          <div class="tab-pane show active" id="tab-1-1">
            <div class="row">
              <!-- Tab items group START -->
              <div class="col-md-4">
                <!-- Item -->
                <div class="d-flex position-relative mb-3">
                  <span class="me-3 mt-n1 fa-fw fw-bold fs-3 opacity-5"
                    >01</span
                  >
                  <h5>
                    <a href="#" class="stretched-link text-reset btn-link"
                      >The most common business debate isn't as black and white
                      as you might think</a
                    >
                  </h5>
                </div>
                <!-- Item -->
                <div class="d-flex position-relative mb-3">
                  <span class="me-3 mt-n1 fa-fw fw-bold fs-3 opacity-5"
                    >02</span
                  >
                  <h5>
                    <a href="#" class="stretched-link text-reset btn-link"
                      >Never underestimate the influence of social media</a
                    >
                  </h5>
                </div>
              </div>
              <!-- Tab items group END -->
              <!-- Tab items group START -->
              <div class="col-md-4">
                <!-- Item -->
                <div class="d-flex position-relative mb-3">
                  <span class="me-3 mt-n1 fa-fw fw-bold fs-3 opacity-5"
                    >08</span
                  >
                  <h5>
                    <a href="#" class="stretched-link text-reset btn-link"
                      >How did we get here? The history of the business told
                      through tweets</a
                    >
                  </h5>
                </div>
              </div>
              <!-- Tab items group END -->
              <!-- Tab items group START -->
              <div class="col-md-4">
                <!-- Item -->
                <div class="d-flex position-relative mb-3">
                  <span class="me-3 mt-n1 fa-fw fw-bold fs-3 opacity-5"
                    >15</span
                  >
                  <h5>
                    <a href="#" class="stretched-link text-reset btn-link"
                      >Best Twitter accounts for learning about investment</a
                    >
                  </h5>
                </div>
              </div>
              <!-- Tab items group END -->
            </div>
          </div>
          <!-- Most read tab END -->
          <!-- Trending tab START -->
          <div class="tab-pane show" id="tab-1-2">
            <div class="row">
              <!-- Tab items group START -->
              <div class="col-md-4">
                <!-- Item -->
                <div class="d-flex position-relative mb-3">
                  <span class="me-3 mt-n1 fa-fw fw-bold fs-3 opacity-5"
                    >01</span
                  >
                  <h5>
                    <a href="#" class="stretched-link text-reset btn-link"
                      >10 facts about business that will instantly put you in a
                      good mood</a
                    >
                  </h5>
                </div>
              </div>
              <!-- Tab items group END -->
              <!-- Tab items group START -->
              <div class="col-md-4">
                <!-- Item -->
                <div class="d-flex position-relative mb-3">
                  <span class="me-3 mt-n1 fa-fw fw-bold fs-3 opacity-5"
                    >08</span
                  >
                  <h5>
                    <a href="#" class="stretched-link text-reset btn-link"
                      >8 initial problem of startups and their solution</a
                    >
                  </h5>
                </div>
              </div>
              <!-- Tab items group END -->
              <!-- Tab items group START -->
              <div class="col-md-4">
                <!-- Item -->
                <div class="d-flex position-relative mb-3">
                  <span class="me-3 mt-n1 fa-fw fw-bold fs-3 opacity-5"
                    >15</span
                  >
                  <h5>
                    <a href="#" class="stretched-link text-reset btn-link"
                      >10 tell-tale signs you need to get a new business</a
                    >
                  </h5>
                </div>
              </div>
              <!-- Tab items group END -->
            </div>
          </div>
          <!-- Trending tab END -->
        </div>
      </div>
    </div>
  </div>
</section>
