{% load static %}

<!-- Bootstrap JS -->
<script src="{% static 'assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>

<!-- Vendors -->
<script src="{% static 'assets/vendor/tiny-slider/tiny-slider.js' %}"></script>
<script src="{% static 'assets/vendor/sticky-js/sticky.min.js' %}"></script>
<script src="{% static 'assets/vendor/glightbox/js/glightbox.js' %}"></script>
<script src="{% static 'assets/vendor/plyr/plyr.js' %}"></script>

<!-- Template Functions -->
<script src="{% static 'assets/js/functions.js' %}"></script>
